body {
  background-color: rgb(8, 80, 20);
}

div.menu {
  background-color: #088a1d;
  overflow: hidden;
  font-style: italic;
  font-size: 50px;
}
div.menu a {
  float: left;
  display: block;
  color: rgb(226, 249, 72);
  text-align: justify;
  padding: 39px 46px; /* A távolság a menüpontok között*/
  text-decoration: none; /* Aláhúzások */
  font-size: 17px;
  border-bottom: 3px solid transparent;
  font-size: 25px;
}
div.menu a:hover {
  border-bottom: 3px solid rgb(72, 255, 0);
}
div.menu a:active {
  border-bottom: 3px solid rgb(94, 255, 0);
}
.logo {
  width: 175px;
  position: static;
  float: left;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 30%;
  padding: 5px;
 
  border-style: inset;
  border-color:#088a1d
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.szoveg{
  font-size: large;
  font-style: italic;
  color: antiquewhite;
  margin: 10px;
  border-style: inset;
  border-color:#088a1d
}
footer{
  display: block;
  margin: 10px;
  padding-top: 10%;
  text-align: center;
}